<!DOCTYPE html>
<html lang="en">
    <head><%- include('head') %></head>
    <body>
        <%- include('header') %>
        <form arction="/createTopic" method="post">
            <fieldset>
                <legend>Create Topic</legend>
                <div>
                    <label>Title <input type="text" name="title" /></label>
                </div>
                <div>
                    <label>Body<textarea name="body"></textarea></label>
                </div>
                <button type="submit">Create</button>
                <button a href="/">Cancel</button>
            </fieldset>
        </form>
    </body>
</html>
