<!DOCTYPE html>
<html lang="en">
  <head><%- include('head') %></head>
  <body>
    <%- include('header') %>
    <div class="errorMessage">
      <div>
        <strong
          ><%=userFacing ? errorMessage : "An unexpected error has occured!"
          %></strong
        >
      </div>
      <button type="button" onclick="history.back()">Go Back</button>
      <% if (!userFacing) { %>
      <details>
        <summary>Error Details</summary>
        <code><%= errorMessage %></code>
      </details>
      <% } %>
    </div>
  </body>
</html>
