<header>
    <a href="/"><img src="/tweeter.png" class="logo" /></a>
    <ul class="tabmenu">
        <li><a href="/">subscribed</a></li>
        <li><a href="/all">all</a></li>
        <li><a href="/createTopic">create</a></li>
    </ul>
    <script>
        function logout() {
            fetch("/logout", {
                method: "POST",
            }).then(() => {
                location.reload();
            }).catch(alert);
        }
    </script>
    <div class="auth-section"><% if (locals.user) { %> Welcome <%= user.username %> <a href="javascript:logout()">Logout</a><% } %></div>
</header>
