<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>tweeter</title>
<link rel="stylesheet" href="/style.css" />
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("li > a").forEach((e) => {
            if (
                e instanceof HTMLAnchorElement &&
                e.parentElement instanceof HTMLLIElement &&
                location.pathname === e.pathname
            ) {
                e.parentElement.classList.add("selected");
            }
        });
    });
</script>
