<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tweeter</title>
  </head>
  <body>
    <form action="/login" method="post">
      <fieldset>
        <legend>Log in</legend>
        <input type="text" name="username" />
        <input type="text" name="password" />
        <button type="submit">Login</button>
        <button type="submit" formaction="/register">Register</button>
      </fieldset>
    </form>
  </body>
</html>
