<!DOCTYPE html>
<html lang="en">
    <head><%- include('head') %></head>
    <body>
      <%- include('header') %>
        <form action="/login" method="post">
            <fieldset>
                <legend>Log in</legend>
                <input type="text" name="username" required />
                <input type="password" name="password" required />
                <button type="submit">Login</button>
                <button type="submit" formaction="/register">Register</button>
            </fieldset>
        </form>
    </body>
</html>
